<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bighead.sunshine.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name = "com.example.bighead.sunshine.app.LICENSE_TO_KILL"
        android:protectionLevel="dangerous"
        android:label="Licensed to kill"
        />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--Create service to do the background job-->
        <service android:name=".service.SunshineService" />
        <!--Register alarmReceiver to receive AlarmManager's pendingIntent-->
        <receiver android:name=".service.SunshineService$AlarmReceiver" android:enabled="true"/>
        <provider
            android:authorities="@string/content_authorities"
            android:name=".data.WeatherProvider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.bighead.sunshine.app.LICENSE_TO_KILL"
            />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ForecastTheme"
            android:launchMode="singleTop"> <!--set launchMode to singleTop because we don't want mainActivity to be destroyed.-->
            <!--android:configChanges="orientation|screenSize" is used to tell Android
                "don't worry about orientation changes, I can handle it".
                So, android won't destroy activity when device rotates.
                But now, we use setItemChecked() to reach the same goal-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bighead.sunshine.app.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingTheme"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bighead.sunshine.app.MainActivity" />
        </activity>

    </application>

</manifest>
